<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <div class="row-fluid">
        <h2 class="text-center">Phantom Open Emoji Cheat Sheet</h2>
      </div>
      <hr style="border-style:solid;">

      <div class="row-fluid text-center">
        <input type="text" id="emoji_name">
        <input type="image" id="tooltip" src="/assets/poe/png20/grinning.png"
        data-html="true" data-ttoggle="popover" data-placement="bottom" data-animation="false">
      </div>

      <div class="row-fluid">
        <div class="span12">

          <% @categories.each_with_index do |category, i| %>
            <div class="row-fluid">
              <h3><%= category %></h3>
            </div>
            <div class="row-fluid">

              <% @divided_emojis[i].each_with_index do |item, j| %>
                <% if j % 2 == 0 and j != 0 %>
                  </div>
                  <div class="row-fluid mt-l">
                <% end %>
                <div class="span6">
                  <div class="span2">
                    <%= image_tag @path + item['name'] + '.png' %>
                  </div>
                  <div class="span10">
                    <p class="icon-name">
                      &nbsp;&nbsp;:<%= item['name'] %>:
                    </p>
                  </div>
                </div>
              <% end %>

            </div>
            <hr style="border-style:dashed;">
          <% end %>

          <hr style="border-style:solid;">
        </div>
      </div>
    </div>
  </div>
</div>
